* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  --tw-bg-opacity: 1;
  background-color: #160e0b;

  color: rgb(229 229 229);

  font-family: ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", sans-serif;
}


main {
  width: 100%;
  max-width: 65ch;
  padding: 2rem 1.5rem;
  margin-top: 40px;

  font-size: 1rem;
  line-height: 1.75;
}


strong {
  font-weight: 600;
}


a {
  color: rgb(229 229 229);
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
  
}


ul {
  margin-top: 2.5rem;
  padding-left: 1.25rem;
  list-style-type: disc;
}

li {
  margin-bottom: 0.5rem;
}

img {
  width: 2.5rem;
}
